.booking-title-container{
    font-size:14px;
}

.booking-date-container{
    font-size:12px;
}

button.user-booking-delete-button{
    border: none;
    background-color: white;
    cursor: pointer;
}


.user-bookings-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 22.75%);
    grid-template-rows: repeat(auto-fill);
    grid-column-gap: 3%;
    grid-row-gap: 5%;
    /* background-color: coral; */
    width:78vw;
    height: 100%;
    margin:auto;
    /* margin-left: 0px; */
}

.user-booking-card{
    display:flex;
    /* align-items: center; */
    /* background-color: aqua; */
    height:200px;
    border-radius:50px;
    border: 2px solid rgba(177, 170, 170, 0.3);
    text-align:center;
    /* width: 100%; */
    /* width:fit-content */
}

/* image container */
/* should be same height as each card */
.user-bookings{
    width:100%;
    /* background-color: #0000ff; */
    /* height:280px; */
    height:100%
}

img.user-booking-img{
    height:100%;
    width:100%;
    border-radius:50px;
    /* border-radius:0; */
}

.user-booking-text-container{
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.user-booking-delete-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-bookings-main-container{
    /* background-color: green; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:100px auto; */
    /* margin- */
}
