input.form-control.signup {
    border: none;
    /* border: red solid 5px; */
    padding: 0;
    font-size: 20px;
    border-radius: 0;
    /* display: block; */
    /* width: 60%; */
    /* height: calc(1.5em + 0.75rem + 2px); */

    max-width: 88%;
    width: 100%;
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
}

div.form-group{
    width: 100%;
    /* background-color: ; */
    border: 1px solid rgba(177, 170, 170, 0.8)
}
