.spot-form-outer-container{
  width: 90%;
  height: 100%;
  /* background-color: lightgoldenrodyellow; */
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.create-spot-form-container{
  background-color: aliceblue;
  width: 90%;
  margin: 0px auto;
}

.form-group.spot{
  /* background-color: green; */
  /* width: 90%; */
  width: 28em;
  margin:auto
}

.form-control.spot{
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;

  display: block;
  width: 100%;
  height: 20px;

  padding: 0.375rem 0;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 7px;
  box-sizing: border-box;
  height: 40px;

}

.create-spot-form-content-container{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.create-spot.submit-button{
  margin-top: 2em;
}

.validation-errors.create-update-spot-form{
  /* background-color: lightblue; */
}

.validation-errors-outer-container{
  /* background-color: lightcoral; */
  width: 90%;
  margin: 0px auto;
  color:red;
  height: 72px;
  max-height: 72px;
  min-height: 72px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1.2em;
  height: fit-content;
  margin-top: 1.2em;
  /* margin-bottom: .5em; */
  /* width;/ */
}
