/* img tag in spots index has border-radius applied, trickles to all img tags */
.spot-preview-image{
    width: 700px;
}

.spot-detail-card{
    /* background-color: lightcyan; */
    width: fit-content;
}

.spot-detail{
    border-top: 1px solid rgba(177, 170, 170, 0.3);
    display: flex;
    justify-content: start;
    /* background-color: burlywood; */
    /* border: 5px solid red; */
}


p.spot-detail-item-description{
    margin-left: 10px;
}

.spot-detail-icon-container{
    display: flex;
    justify-content: center;
    align-items:center
}
