/* img tag in spots index has border-radius applied, trickles to all img tags */
.spot-preview-image{
    width: 700px;
}

.spot-detail-card{
    /* background-color: lightcyan; */
    width: fit-content;
}

.spot-detail{
    border-top: 1px solid rgba(177, 170, 170, 0.3);
    display: flex;
    justify-content: start;
    /* background-color: burlywood; */
    /* border: 5px solid red; */
}


p.spot-detail-item-description{
    margin-left: 10px;
}

.spot-detail-icon-container{
    display: flex;
    justify-content: center;
    align-items:center
}

table,
td:not(.guests-cell) {
    border: 1px solid;
    border-collapse: collapse;
}

.guests-container{
    display: flex;
    justify-content: center;
    background-color: green;
}


/* RIGHT CARD WITH THE SPOT DETAIL AND BOOKING FORM */
/* TO BE DONE FINISHED AFTER CHECK */
.spot-detail-container-2{
    display:flex;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    /* you can change the height and width of this container */
    display: block;
    box-sizing: border-box;

    /* add myself */
    width: 480px;

}

.top-third-container{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: flex-start;
    height:fit-content
}

.star-rating-reviews-container{
    /* background-color: green; */
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.reviews-container{
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: coral; */
    width:90%;
    flex-flow: row wrap;
}

.star-rating-container{
    /* background-color: orange; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.reserve-submit-button{
    border-radius:7px;
    height: 50px;
    width: 100%;
    background-image:radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    border: none;
}

.second-third-container{
    /* color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important; */
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap
}
.spot-middle-container-top-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: green;
    justify-content: space-evenly;
    align-items: center;
}
.spot-booking-input{
    background-color: orange;
    display: flex;
    align-items: center;
    /* justify-content: space; */
    height: 55px;
    width: 50%;
    justify-content: center;
}
