.update-bookings-main-outer-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50em;
  width: 100vw;
}


.update-bookings-main-container{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  /* background-color: lightblue; */
  align-items: flex-start;
  justify-content: center;
  /* margi */
}

.spot-detail-container-2.update-booking-container{
  height:fit-content;
  padding: 0 24px;
}

.react-calendar{
  height: fit-content;
  /* width: 400px; */
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border:none;
  border-radius: 8px;
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  /* width: 38.5em; */
  width: 350px;

}

/* div.react-calendar__month-view{
  width:20em
} */

.get-spot-price-breakdown-total-container{
    font-weight: 550;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: flex-start;
    margin-top: 1em;
}

.update-bookings-title-container{
  height: 5.5em;
  display: flex;
  justify-content: flex-start;
  width: 1180px;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  margin-top: 5em;
  font-size: 26px;
}

.original-booking-date-container{
  /* width: 100%; */
  width: 1180px;
}

/* CSS CALENDAR  */
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* / */
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: #B0B0B0;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F7F7F7;
  border-radius: 50%;
  border: 2px solid black;
  color: black;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar__tile--range {
 background: black;
 color: white;
 border-radius: 0;
 font-weight: 550;
}


/* top part is copied and pasted from Calendar.CSS  ==================================*/


.react-calendar__tile--active {
  /* color: white; */
  color:black;
  background-color: #f7f7f7;
  /* background: purple; */
  /* background-color: black; */
  font-weight: 550;
}

/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F7F7F7;
  background-color: lightblue;
  color: black;
  border-radius: 50%;
  border: 2px solid black;

} */

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
 color: black;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  /* background-color: lightcoral; */
  /* border: 2px solid black */
}

 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  /* background: #6f48eb; */
  background-color: black;
  color: white;
  font-weight: 550;
  border-radius: 50%;

 }

 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  /* background: #6f48eb;
  color: white; */
  background-color: black;
  color: white;
  font-weight: 550;
  border-radius: 50%;
 }

 .react-calendar button{
  margin: 0;
  border: 0;
  outline: none;
  height: 3.72em;
 }

 .react-calendar__tile--now {
  background-color: white;
  border-radius: 50%;
  color: black;
  font-weight: 550;
 }
