/* .profile-button-container{
    background-color: green;
    display:flex;
    justify-content:
} */

.profile-button{
    /* fixed the moving issue! set the button height equivalent to the height of nav container (with class .inside-nav-bar) */
    padding: 0px;
    background-color: white;
    border: none;
    margin-left: 4px;
    /* height:38px; */
    height: 100%;

}

ul#menu.profile-dropdown{
    font-size:12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    padding-left: 0px;
    position: relative;
    /* border: 2px solid black; */
    right: 58px;
    height: 170px;
    height: 200px;
    margin-right: auto;
    width:1000px;
    justify-content: space-evenly;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    /* padding: 24px; */
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    box-sizing:border-box


}

.user-session-nav-links{
    /* background-color: green; */
    display: flex;
    flex-direction: column;


}

.item-profile-dropdown.user{
    width: 200px;
    border: none;
    background-color: white;
    margin-bottom:10px;
    text-align: left;
    text-decoration: none;
    color:rgb(113, 113, 113)
    /* cursor:pointer; */

}

/* .user-profile-main-container{
} */

.item-profile-dropdown.user.last-item{
    margin-bottom:0;
    color: rgb(113, 113, 113)
}

.top-item-profile-dropdown{
    width: 200px;
    /* background-color: coral; */
    font-size: 15px;
    text-align: center;
    /* margin-bottom: 5px; */
    margin-top: -5px;
    border-bottom: solid 1px rgba(177, 170, 170, 0.3)
}

.item-profile-dropdown{
    width: 200px;
    border: none;
    background-color: white;
    margin-bottom:15px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    /* color: rgb(113, 113, 113) */
}
