
/* this controls the actual input boxes (small ones) inside the bigger div boxes
.form-group input {
    background: transparent;
    font-family: sans-serif;
    line-height: 1.15;
    width: 900px;
    width: 10%;
    max-width: 100;
    background-color: green;
    ADJUST BELOW FOR FORM INPUT WIDTH
    width: 90%;

    /* background-color: green; */
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */

/* } */
/*
 html {
    font-family: sans-serif;
    line-height: 1.15;
}

.submit-button {
    background-color: black;
    color: white;
    border-radius:7px;
    height: 50px;
    width: 120px;

}

.form-group.first{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.form-group.last {
    margin-bottom:20px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
}

.form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1;

}


body{
    font-family: sans-serif;
    background-color: #f8fafb;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
} */
fieldset.spot-fieldset-container{
    width: 450px;
}

.form-group input{
    background: transparent;
    font-family: sans-serif;
    line-height: 1.15;

}

.form-group.spot{
    /* background-color: green; */
    width: 90%;
}

.form-control.spot{
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0;
    /* background-color: green; */

    display: block;
    width: 80%;
    height: 20px;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;

}
