/* .html {
    min-height: 100vh;
    min-width: 100vw;
} */

.main-container{
    /* display: flex;
    justify-content: center; */
}

.spots-main-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(auto-fill);
    grid-column-gap: 5px;
    /* grid-row-gap: 30px;
    /* justify-items: center; */
    width: 83vw;
    margin: auto;
    /* background-color: aqua; */
    /* width: fit-content; */
    position: relative;
    z-index: -1;

}



/* TODO: change this to relative and see if it fixes the display */
.spot-card-container{
    position: relative;
    /* max-height:100%; */
    height: 420px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: red;
    border: 5px black solid;
    box-sizing: border-box; */
    align-items: center;
    width:95%;
    /* BECAUSE ITS COLUMN, justify content is now used for vertical alignment */
}

/* QUESTION: should i make height units absolute? in px? */
/* CONTAINS BOTH DIVS OF TEXT (TOP ROW & BOTTOM ROW) */
.spot-bottom-text-container{
    /* width: 280px; */
    /* max-height: fit-content; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: lightpink; */
    font-size: large;
    bottom: 2%;
    position:relative;
    bottom:0;
}

.spot-top-half-text-container{
    display:flex;
    justify-content: space-between;
    font-size: small;
}

.spot-bottom-half-text-container{
    display:flex;
    justify-content: start;
    font-size: small;
    /* background-color: blueviolet; */
}

/* absolute is RELATIVE to parent container */
/* .spot-bottom-right-text-container{
    position: absolute;
    right:0;
    align-items: center;
    align-self: start;
} */

.spots-image-container{
    /* background-color: coral; */
    width:100%;
    display:flex;
    justify-content: center;
    height: 280px;

}


/* absolute units for height is ok? */
img{
    /* height: 280px; */
    height: 100%;
    /* position:relative; */
    width: 100%;
    border-radius: 15px;

}

/* .spots-image{} */

.cliploader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    width: 30%;
    margin:auto;

    /* width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    text-align: center; */
    /* background-color: green; */
}
