.html {
    min-height: 100vh;
    min-width: 100vw;
}

.spots-main-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(auto-fill);
    grid-column-gap: 1.5%;
    /* grid-row-gap: 30px;
    /* justify-items: center; */
}

/* TODO: change this to relative and see if it fixes the display */
.spot-card-container{
    position: relative;
    /* width:90%; */
    max-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    /* BECAUSE ITS COLUMN, justify content is now used for vertical alignment */
}

/* QUESTION: should i make height units absolute? in px? */
/* CONTAINS BOTH DIVS OF TEXT (TOP ROW & BOTTOM ROW) */
.spot-bottom-text-container{
    width: 100%;
    /* max-height: fit-content; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightpink;
    font-size: large;
    /* margin-bottom: 0; */
    bottom: 2%;
    position:relative;
    bottom:0;
    /* justify-self:stretch; */
    /* align-self: center; */
}

.spot-top-half-text-container{
    display:flex;
    justify-content: space-between;
}

.spot-bottom-half-text-container{
    display:flex;
    justify-content: start;
}

/* absolute is RELATIVE to parent container */
/* .spot-bottom-right-text-container{
    position: absolute;
    right:0;
    align-items: center;
    align-self: start;
} */


/* absolute units for height is ok? */
img{
    height: 450px;
    position:relative;
    /* max-height: 80%;
    min-height: 80%; */
    width: 100%;
    border-radius: 15px;

}

/* .spots-image{} */

.cliploader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    width: 30%;
    margin:auto;

    /* width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    text-align: center; */
    /* background-color: green; */
}
