.spots-main-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(10, 550px);
    background-color: beige;
    /* grid-row-gap: 30px; */
    /* grid-column-gap: 30px; */
    justify-items: center;

}

.spot-card-container{
    /* top half is image and bottom half is text box */
    /*
    width: 430px;
    height: 600px; */
    position: relative;
    width: 420px;
    background-color: lightsteelblue;
    border: red 10px solid;
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;

    /* BECAUSE ITS COLUMN, justify content is now used for vertical alignment */
    /* display: block; */
    /* height: 80%; */
    height: 450px;
    align-items: center;
    justify-content: space-between;

}

.spot-bottom-text-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightsalmon;
    /* border: black solid 10px; */

    bottom: 35px;
    position:relative;
    /* justify-self:stretch; */
    /* align-self: center; */


    /* display:block;
    position: relative;
    bottom: 0px;
    width: 100%; */
}

.spot-bottom-right-text-container{
    /* absolute is RELATIVE to parent container */
    position: absolute;
    right:0;
    background: green;
    /* height: 100%; */
    align-items: center;
    /* justify-content:start; */
    align-self: start;

}

img{
    /* position: absolute; */
    /* top: 0; */
    height:70%;
    width: 100%;
    /* margin-bottom: 0px; */

}
