/* TODO Add site wide styles */
/* .top-bar{
    background-color: aquamarine;
} */
html {
    font-family: Montserrat, sans-serif;
    line-height: 1.15;
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

fieldset{
    /* width: 500px; */
    width: fit-content;
    /* max-width:100%; */
    height: fit-content;
}

.submit-button {
    background-color: black;
    color: white;
    border-radius:7px;
    height: 50px;
    width: 120px;

}

.form-group.first{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.form-group.last {
    margin-bottom:20px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* each input div box  */
.form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1;
    /* width: 100px; */
    /* background-color: green; */
    /* width:80% */
}

/* *, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

body{
    font-family: sans-serif;
    background-color: #f8fafb;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* the input containers */
input.form-group  {
    background: transparent;
    font-family: sans-serif;
    line-height: 1.15;
    /* width: 900px; */
    /* ADJUST BELOW FOR FORM INPUT WIDTH */
    /* width: 90%; */

    /* background-color: green; */
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); */

}

/* THIS ALSO CONTROLS THE WIDTH OF INPUT */
.form-control{
    border: none;
    /* border: red solid 10px; */
    padding: 0;
    font-size: 20px;
    border-radius: 0;
    display: block;
    /* width: 90%;
    max-width: 100%; */
    /* height: calc(1.5em + 0.75rem + 2px); */
    height: 20px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5; */
    /* color: #495057; */
}

/* for getting spot detail (spot/:spotId) and bookings */

/* img tag in spots index has border-radius applied, trickles to all img tags */
.spot-preview-image{
    width: 700px;
}

.spot-detail-card{
    background-color: lightcyan;
    width: fit-content;
}

.spot-detail{
    border-top: 1px solid rgba(177, 170, 170, 0.3);
    display: flex;
    justify-content: start;
    /* background-color: burlywood; */
    /* border: 5px solid red; */
}

p.spot-detail-item-description{
    margin-left: 10px;
}

.spot-detail-icon-container{
    display: flex;
    justify-content: center;
    align-items:center
}

.navlink{
    text-decoration: none;
}

ul.validation-errors{
    color:red;
}
