.spot-bookings-main-container2{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    width: 85em;
    height: 100vh;
    min-height:100vh;
    margin:auto;
}

.spot-bookings-content-container{
    /* background-color: lightblue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-detail-card{
    /* background-color: rgba(255, 56, 92, .1); */
    border-radius:50px;
    border: 2px solid rgba(177, 170, 170, 0.3);
    text-align:center;
    /* width: 300px */
    width:90%;
    height: 180px;
}

/* body{
    background-color: green;
} */
/* body{

} */
.spot-bookings-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(auto-fill);
    /* grid-column-gap: .5%; */
    grid-row-gap: 10%;
    /* margin-top: 1%; */
    justify-content: center;
    width: 80vw;
    margin-top: 10px;
    /* margin: 10px auto */

}

.spot-bookings-title-container{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: center;
}

.fa-solid.fa-house{
    /* background-color: blueviolet; */
    margin: auto 10px
}

.spot-bookings-images-outer-container{
    display:flex;
    justify-content: center;
    /* height:300px; */
    width: 100%;
    /* background-color: green; */
    /* flex-direction: row;
    flex-wrap: row wrap; */

}

/* does not show up visibly */
.spots-bookings-images-container{
    background-color: palegreen;
    border: 200px red solid;
}

.spot-bookings-images-outer-container{
  width: 85em;

}

.spot-bookings-images-container{
  width: 100%;
}

.spot-bookings-image{
/* height: 25vh; */
width:100%;
height: 270px;
object-fit: cover;
height: 18em;
background-color: lightblue;

}

.spot-bookings-no-bookings-main-container{
  width: 85em;
  height: 40em;
  margin:auto;
  /* background-color: lightblue; */
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;

}
