/* ul tag is a block html element (resizable) */
/* TODO: since airbnb icon container is not super left-aligned in the nav bar */
/* do not use flex and try to align both boxes separately with display:block? */
ul.top-nav-bar{
    display: flex;
    justify-content:space-between;
    position:relative;
    border-bottom: 1px solid rgba(177, 170, 170, 0.3);
    align-items: center;
    /* background-color: coral; */
    width: 83vw;
    margin: auto;
    padding: 0;
}

.top-right-nav-bar{
    /* background-color: aqua; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:35%;

}

.session-link{
    /* background-color: #ff385c; */
    /* color:white; */
    border: none;
    font-size: 12px;
    /* border-radius: 7px; */
    margin-top: 10px;

}

div.airbnb-icon-container{
    /* background-color: green; */
    height:fit-content;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 10px;
    color:#ff385c

    /* IMPORTANT: changing to absolute also affects the sibling elements! (navlinks) */
}

.three-line-home-button{
    /* "display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;" */
    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentcolor;
    stroke-width: 3;
    overflow: visible;
}

.inside-nav-bar.top-bar{
    background-color: rgb(255, 255, 255);
    color: rgb(113, 113, 113);
    /* column-gap: 0.83vh; */
    /* display: flex; */
    height:35px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    /* width: 4.05vw; */
    /* position: relative; */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;
    border-radius: 30px;
    /* width: 16%; */
    list-style: none;
    width: 70px;
    display:flex;
    flex-flow: row wrap;
    /* background-color: green; */

}

.feature-links{
    display: flex;
    width:300px;
    align-items: center;
    justify-content: space-evenly;
    /* position:relative; */
    right: 55px;
}

.globe-icon{
    /* background-color: green; */
    margin-left: 38px;
}
